
body, html, #header {
    margin: 0px;

}
#headerz {
    width: 100%;
    height: 300px;
    background: -webkit-linear-gradient(-45deg, #794aa2 0%, #74a8c3 100%);
    background: linear-gradient(135deg, #794aa2 0%, #74a8c3 100%);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    position: fixed;
    color: #c7b8d8;
}

#header {
    width: 100%;
    height: 300px;
    background-color: #3B2F63;
    background-image: radial-gradient(circle at 50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), radial-gradient(circle at right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    color: #c7b8d8;
    margin: 0;
    position: fixed;
}


pre {
    margin: 50px
}
